/* style.css */
body {
  font-family: Roboto, Verdana, Tahoma, Arial, san-serif;
}

.header_div {
  display: flex;
  flex-direction: row;
  background: #3f485a;
  color: White;
}

.content01_div {
}

.content02_div {
}

.footer_div {
}
